header{
  background-color: pink;
  color: red;
  font-size: 30px;
  padding: 1%;
  text-align: center;
  margin: 1%;
  border: 2px solid black;
  box-shadow: 3px 3px 3px black;
}
#career{
  width:95%;
  border: 2px solid #ddd;
  padding: 1%;
  margin:1%;
}
section{
  border: 2px solid #ddd;
  padding: 1%;
  margin: 1%;
  width: 96%;
}
.parent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.parent section{
  width: 45%;


}
input,select{
  display: block;
  margin: .3% auto;
  width: 90%;
  padding:1%;
}
